# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [4]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [17]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

query = "Select  ch.id,t.amount  \
        from  \
          transaction t \
          inner join credit_card cc on t.card = cc.card \
          inner join card_holder ch on ch.id = cc.cardholder_id \
        "


# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
transaction_df = pd.read_sql(query, engine)
transaction_df

      id  amount
0     13    6.22
1     13    3.83
2     10    9.61
3      4   19.03
4     18    2.95
...   ..     ...
3495  15    4.84
3496  10    3.26
3497  19   10.73
3498  23   11.87
3499  15   19.75

[3500 rows x 2 columns]

In [39]:
# Write function that locates outliers using standard deviation
def locate_outliers(id):
    transaction_df_id = transaction_df.loc[transaction_df["id"]==id]
    amounts = transaction_df_id["amount"]
    mean = np.mean(amounts, axis=0)
    #print(f"mean is {mean}",mean)
    deviation = np.std(amounts)
    #print(f"mean is {deviation}",deviation)
    outliers = [x for x in amounts if (x > mean - 2 * deviation)]
    return outliers

outliers are [1.33, 10.82, 17.29, 10.91, 17.64, 11.58, 10.47, 11.39, 1.41, 18.32, 15.39, 6.96, 1.01, 18.52, 17.06, 4.1, 13.53, 4.13, 10.08, 3.79, 15.24, 11.22, 10.15, 1.64, 6.82, 18.62, 1.08, 6.5, 11.26, 10.21, 10.26, 10.31, 0.7, 6.55, 12.11, 10.91, 3.42, 18.9, 3.31, 1.19, 1.76, 15.96, 13.03, 14.24, 15.95, 16.96, 10.65, 5.13, 12.64, 1.67, 17.25, 4.96, 10.09, 10.26, 4.78, 3.43, 16.99, 7.41, 3.13, 10.33, 17.16, 4.09, 16.55, 4.89, 10.29, 19.51, 10.06, 2.74, 9.48, 4.15, 15.21, 4.7, 17.72, 3.05, 1.58, 11.52, 3.92, 11.35, 1.17, 10.02, 2.92, 10.17, 13.06, 16.84, 2.89, 10.45, 16.64, 5.87, 11.41, 2.25, 16.4, 10.08, 4.29, 12.39, 19.36, 10.06, 11.38, 10.2, 11.03] [1.33, 10.82, 17.29, 10.91, 17.64, 11.58, 10.47, 11.39, 1.41, 18.32, 15.39, 6.96, 1.01, 18.52, 17.06, 4.1, 13.53, 4.13, 10.08, 3.79, 15.24, 11.22, 10.15, 1.64, 6.82, 18.62, 1.08, 6.5, 11.26, 10.21, 10.26, 10.31, 0.7, 6.55, 12.11, 10.91, 3.42, 18.9, 3.31, 1.19, 1.76, 15.96, 13.03, 14.24, 15.95, 16.96, 10.65, 5.13, 12.64, 1.67, 17.25, 4.96, 10.09, 10.26, 4.78, 3.43, 16.99, 7.41, 3.13, 10.33, 17.16, 4.09, 16.55, 4.89, 10.29, 19.51, 10.06, 2.74, 9.48, 4.15, 15.21, 4.7, 17.72, 3.05, 1.58, 11.52, 3.92, 11.35, 1.17, 10.02, 2.92, 10.17, 13.06, 16.84, 2.89, 10.45, 16.64, 5.87, 11.41, 2.25, 16.4, 10.08, 4.29, 12.39, 19.36, 10.06, 11.38, 10.2, 11.03]

In [42]:
# Find anomalous transactions for 3 random card holders

outliers_2 = locate_outliers(2)
print(f"outliers for id 2 are \n {outliers}",outliers)

outliers_18 = locate_outliers(18)
print(f"\n outliers for id 18 are \n  {outliers}",outliers)

outliers_25 = locate_outliers(25)
print(f"\n outliers for id 25 are \n {outliers}",outliers)

outliers for id 2 are
 [1.33, 10.82, 17.29, 10.91, 17.64, 11.58, 10.47, 11.39, 1.41, 18.32, 15.39, 6.96, 1.01, 18.52, 17.06, 4.1, 13.53, 4.13, 10.08, 3.79, 15.24, 11.22, 10.15, 1.64, 6.82, 18.62, 1.08, 6.5, 11.26, 10.21, 10.26, 10.31, 0.7, 6.55, 12.11, 10.91, 3.42, 18.9, 3.31, 1.19, 1.76, 15.96, 13.03, 14.24, 15.95, 16.96, 10.65, 5.13, 12.64, 1.67, 17.25, 4.96, 10.09, 10.26, 4.78, 3.43, 16.99, 7.41, 3.13, 10.33, 17.16, 4.09, 16.55, 4.89, 10.29, 19.51, 10.06, 2.74, 9.48, 4.15, 15.21, 4.7, 17.72, 3.05, 1.58, 11.52, 3.92, 11.35, 1.17, 10.02, 2.92, 10.17, 13.06, 16.84, 2.89, 10.45, 16.64, 5.87, 11.41, 2.25, 16.4, 10.08, 4.29, 12.39, 19.36, 10.06, 11.38, 10.2, 11.03] [1.33, 10.82, 17.29, 10.91, 17.64, 11.58, 10.47, 11.39, 1.41, 18.32, 15.39, 6.96, 1.01, 18.52, 17.06, 4.1, 13.53, 4.13, 10.08, 3.79, 15.24, 11.22, 10.15, 1.64, 6.82, 18.62, 1.08, 6.5, 11.26, 10.21, 10.26, 10.31, 0.7, 6.55, 12.11, 10.91, 3.42, 18.9, 3.31, 1.19, 1.76, 15.96, 13.03, 14.24, 15.95, 16.96, 10.65, 5.13, 12.64, 1.67, 17.25, 4.96, 10.09, 10.26, 4.78, 3.43, 16.99, 7.41, 3.13, 10.33, 17.16, 4.09, 16.55, 4.89, 10.29, 19.51, 10.06, 2.74, 9.48, 4.15, 15.21, 4.7, 17.72, 3.05, 1.58, 11.52, 3.92, 11.35, 1.17, 10.02, 2.92, 10.17, 13.06, 16.84, 2.89, 10.45, 16.64, 5.87, 11.41, 2.25, 16.4, 10.08, 4.29, 12.39, 19.36, 10.06, 11.38, 10.2, 11.03]

 outliers for id 18 are
  [1.33, 10.82, 17.29, 10.91, 17.64, 11.58, 10.47, 11.39, 1.41, 18.32, 15.39, 6.96, 1.01, 18.52, 17.06, 4.1, 13.53, 4.13, 10.08, 3.79, 15.24, 11.22, 10.15, 1.64, 6.82, 18.62, 1.08, 6.5, 11.26, 10.21, 10.26, 10.31, 0.7, 6.55, 12.11, 10.91, 3.42, 18.9, 3.31, 1.19, 1.76, 15.96, 13.03, 14.24, 15.95, 16.96, 10.65, 5.13, 12.64, 1.67, 17.25, 4.96, 10.09, 10.26, 4.78, 3.43, 16.99, 7.41, 3.13, 10.33, 17.16, 4.09, 16.55, 4.89, 10.29, 19.51, 10.06, 2.74, 9.48, 4.15, 15.21, 4.7, 17.72, 3.05, 1.58, 11.52, 3.92, 11.35, 1.17, 10.02, 2.92, 10.17, 13.06, 16.84, 2.89, 10.45, 16.64, 5.87, 11.41, 2.25, 16.4, 10.08, 4.29, 12.39, 19.36, 10.06, 11.38, 10.2, 11.03] [1.33, 10.82, 17.29, 10.91, 17.64, 11.58, 10.47, 11.39, 1.41, 18.32, 15.39, 6.96, 1.01, 18.52, 17.06, 4.1, 13.53, 4.13, 10.08, 3.79, 15.24, 11.22, 10.15, 1.64, 6.82, 18.62, 1.08, 6.5, 11.26, 10.21, 10.26, 10.31, 0.7, 6.55, 12.11, 10.91, 3.42, 18.9, 3.31, 1.19, 1.76, 15.96, 13.03, 14.24, 15.95, 16.96, 10.65, 5.13, 12.64, 1.67, 17.25, 4.96, 10.09, 10.26, 4.78, 3.43, 16.99, 7.41, 3.13, 10.33, 17.16, 4.09, 16.55, 4.89, 10.29, 19.51, 10.06, 2.74, 9.48, 4.15, 15.21, 4.7, 17.72, 3.05, 1.58, 11.52, 3.92, 11.35, 1.17, 10.02, 2.92, 10.17, 13.06, 16.84, 2.89, 10.45, 16.64, 5.87, 11.41, 2.25, 16.4, 10.08, 4.29, 12.39, 19.36, 10.06, 11.38, 10.2, 11.03]

 outliers for id 25 are
 [1.33, 10.82, 17.29, 10.91, 17.64, 11.58, 10.47, 11.39, 1.41, 18.32, 15.39, 6.96, 1.01, 18.52, 17.06, 4.1, 13.53, 4.13, 10.08, 3.79, 15.24, 11.22, 10.15, 1.64, 6.82, 18.62, 1.08, 6.5, 11.26, 10.21, 10.26, 10.31, 0.7, 6.55, 12.11, 10.91, 3.42, 18.9, 3.31, 1.19, 1.76, 15.96, 13.03, 14.24, 15.95, 16.96, 10.65, 5.13, 12.64, 1.67, 17.25, 4.96, 10.09, 10.26, 4.78, 3.43, 16.99, 7.41, 3.13, 10.33, 17.16, 4.09, 16.55, 4.89, 10.29, 19.51, 10.06, 2.74, 9.48, 4.15, 15.21, 4.7, 17.72, 3.05, 1.58, 11.52, 3.92, 11.35, 1.17, 10.02, 2.92, 10.17, 13.06, 16.84, 2.89, 10.45, 16.64, 5.87, 11.41, 2.25, 16.4, 10.08, 4.29, 12.39, 19.36, 10.06, 11.38, 10.2, 11.03] [1.33, 10.82, 17.29, 10.91, 17.64, 11.58, 10.47, 11.39, 1.41, 18.32, 15.39, 6.96, 1.01, 18.52, 17.06, 4.1, 13.53, 4.13, 10.08, 3.79, 15.24, 11.22, 10.15, 1.64, 6.82, 18.62, 1.08, 6.5, 11.26, 10.21, 10.26, 10.31, 0.7, 6.55, 12.11, 10.91, 3.42, 18.9, 3.31, 1.19, 1.76, 15.96, 13.03, 14.24, 15.95, 16.96, 10.65, 5.13, 12.64, 1.67, 17.25, 4.96, 10.09, 10.26, 4.78, 3.43, 16.99, 7.41, 3.13, 10.33, 17.16, 4.09, 16.55, 4.89, 10.29, 19.51, 10.06, 2.74, 9.48, 4.15, 15.21, 4.7, 17.72, 3.05, 1.58, 11.52, 3.92, 11.35, 1.17, 10.02, 2.92, 10.17, 13.06, 16.84, 2.89, 10.45, 16.64, 5.87, 11.41, 2.25, 16.4, 10.08, 4.29, 12.39, 19.36, 10.06, 11.38, 10.2, 11.03]

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range

In [ ]:
# Find anomalous transactions for 3 random card holders